<app-glass-panel class="header-glass-wrapper">
  <div class="app-header-container">

    <div class="logo-area" (click)="toggleMenu()" [class.menu-admin]="esAdmin">
      <img src="/assets/seasons-logo2.png" alt="Seasons Club" class="header-isotipo-img">
    </div>

    <div class="info-area">
      <div class="live-clock">
        <span class="clock-icon">🕒</span>
        <span class="clock-time">{{ fechaHoraActual }}</span>
      </div>
    </div>

    <div class="actions-area">
      <button class="btn-logout" (click)="cerrarSesion()">
        <span class="logout-icon">🚪</span> Salir
      </button>
    </div>

  </div>
</app-glass-panel>